

html{background-color: aliceblue;}

p {font-family:'Times New Roman', Times, serif;}

title{font-size: larger;}

h1{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

head{background-color: aqua;}

style:home{background-color: aqua;}