body{background-color: cadetblue;}

p{font-family: 'Courier New', Courier, monospace;}

title{
  font-family: Impact, Haettenschweiler,;
font-size: xxx-large;
}

h3{font-family: cursive;}

:any-link{color: darkblue;}

.button-link {
    background-color: #ffffff;
    color: rgb(31, 212, 28);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button-link a {
    text-decoration: none;
    color: inherit;
}

.myDiv {
    border: 6 inset rgb(213, 148, 231);
    background-color: rgb(180, 223, 153);    
    text-align: justify;
    width: auto;
  }